<div class="container">
    <div class="header clearfix">
        <br>
        <h3>MONGO WEB-SCRAPER</h3>
    </div>

    {{!--News Cards--}} {{!--Iterate through the results and populate the handlebars injection points with the scraped titles,
    links, and article snippets.--}} {{#each data}}
    <div class="card news-section">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <hr>
            <p class="card-text">{{articles.description}}</p>
            <a href="{{link}}"/>
            <a href="/articles.title/{{this._id}}" class="btn btn-primary">Comment</a>
        </div>
    </div>
    <br> {{/each}}

</div>